{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block content %}
<div class="post">
    <h1><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
    <h5>{{ page.date | date(format="%A, %e %B %Y") }}</h5>

    <div>{{ page.content | safe }}</div>
</div>

<div class="separator"></div>

<div class="feedback">
    <h3>feedback?</h3>

    <p>Got feedback on this post?</p>
    <p>I'd love to hear from you!</p>
    <p>
        Get in touch on Mastodon
        <a href="https://hachyderm.io/@hds">@hds@hachyderm.io</a>
        or by <a href="/about#contact">email</a>.
    </p>
</div>
{% endblock content %}